<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFlightStatsIntegration" maxReceivedMessageSize="1000000" />
                <binding name="BasicHttpsBinding_IFlightStatsIntegration">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://testewsflightstats.azurewebsites.net/FlightStatsIntegration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlightStatsIntegration"
                contract="ServiceFlightStats.IFlightStatsIntegration" name="BasicHttpBinding_IFlightStatsIntegration" />
        </client>
    </system.serviceModel>
</configuration>